.feild{
    border: 1px solid blue;
}
.bat{
    transition: transform 0.1s ;
    -webkit-transition: transform 0.1s ;
    -moz-transition: transform 0.1s ;
    -ms-transition: transform 0.1s ;
    -o-transition: transform 0.1s ;
}
.ball{
    width: 50px;
    height: 50px;
    background-color: red;
    position: relative;
    left: 516px;
    border-radius: 50%;
    transition: transform 1s ease-in 0.1s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: transform 1s ease-in 0.1s;
    -moz-transition: transform 1s ease-in 0.1s;
    -ms-transition: transform 1s ease-in 0.1s;
    -o-transition: transform 1s ease-in 0.1s;
}
.feild:hover .bat{
    transform-origin: top right;
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
}
.feild:hover .ball{
    transform: translate(1000px, -500px);
    -webkit-transform: translate(1000px, -500px);
    -moz-transform: translate(1000px, -500px);
    -ms-transform: translate(1000px, -500px);
    -o-transform: translate(1000px, -500px);
}
